//
   Created by yanhong on 2016-10-08.

html
    head
        title= title
        script(src='/js/angular.min.js')
        script(src='/js/app.js')
    body
        each student in students
            if student.firstName
                a(href="/student/" + student._id)=student.firstName
                hr